<h1 mat-dialog-title>Nuevo Articulo</h1>
<form name="articuloForm" [formGroup]="articuloForm" novalidate>
  <div mat-dialog-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Nombre del Artículo" formControlName="nombre" required>
        <mat-error *ngIf="articuloForm.get('nombre').hasError('required')">
          Nombre es requerido
        </mat-error>
        <mat-error *ngIf="articuloForm.get('nombre').hasError('minlength')">
          Mpinimo 5 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Descripción del Artículo" formControlName="descripcion">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Url Imagen" formControlName="url" required>
        <mat-error *ngIf="articuloForm.get('url').hasError('required')">
          Url Imagen es requerido
        </mat-error>
      </mat-form-field>
      <div fxLayout='row' fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45">
          <input matInput placeholder="Precio del Artículo" formControlName="precio" required>
          <mat-error *ngIf="articuloForm.get('precio').hasError('required')">
            Precio es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="45">
          <input matInput placeholder="Cantidad del Artículo" formControlName="cantidad" required>
          <mat-error *ngIf="articuloForm.get('cantidad').hasError('required')">
            Se requiere una cantidad
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutAlign="space-between center">
        <mat-form-field fxFlex="45">
          <mat-select placeholder="Seleccione una categoría" formControlName="categoria">
            <mat-option *ngFor="let item of categorias" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="45">
          <input matInput placeholder="Descuento del Artículo" formControlName="descuento">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="accent" [disabled]="articuloForm.invalid" (click)="guardar()">
      <mat-icon>save</mat-icon>
      <span *ngIf="articulo&&articulo.id">Actualizar</span>
      <span *ngIf="!articulo">Crear</span>
    </button>
    <button mat-button mat-dialog-close>
      <mat-icon>cancel</mat-icon>
      Cancelar
    </button>
  </div>
</form>
