
:host {

  #login {
    width: 100%;
    background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
    background-size: cover;

    #login-form-wrapper {
      flex: 1 0 auto;
      padding: 26px;

      // @include media-breakpoint('xs') {
      //     padding: 16px;
      // }

      #login-form {
        width: 384px;
        max-width: 384px;
        padding: 40px;
        background: #FFFFFF;
        text-align: center;
        // @include mat-elevation(16);

        // @include media-breakpoint('xs') {
        //     padding: 24px;
        //     width: 100%;
        // }

        .logo {
          //width: 128px;
          margin: 18px auto;

          .imagen {
            height: 200px !important;
          }
        }

        .title {
          font-size: 20px;
          margin: 16px 0 32px 0;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          .forgot-password {
            font-size: 14px;
            margin-top: 8px;
            margin-bottom: 16px;
            color: #039be5;
            text-decoration: none;
          }
          .forgot-password:hover {
            color:  #007bff;
          }

          .submit-button {
            width: 220px;
            margin: 16px auto;
            display: block;
          }

        }

        .register {
          margin: 32px auto 24px auto;
          .text {
            margin-right: 8px;
          }
        }
      }
      .link{
        color: #039be5;
        text-decoration: none;
        padding-top: 5px;
      }
    }
  }

  @media all and (max-width: 680px) {
    #login {

      #login-form-wrapper {

        #login-form {
          width: 220px !important;
          max-width: 220px !important;
          padding: 35px !important;

          .title {
            font-size: 16px !important;
            margin: 16px 0 10px 0 !important;
          }

          .logo {
            margin-top: 0px !important;

            .imagen {
              height: 100px !important;
            }
          }

          form {

            .forgot-password {
              margin-top: 5px;
              margin-bottom: 5px;
            }
            .submit-button {
              margin-bottom: 0px !important;
            }
          }
          .register {
            margin: 20px auto 0px auto;
          }
        }
      }
    }

  }

}
