<mat-toolbar color="primary">

  <mat-toolbar-row>
    <button mat-button routerLink="/home">
      <span>Tienda Online</span>
    </button>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/listar-productos">
      Gestión Productos
    </button>
    <button mat-button routerLink="/stock">
      <span>Stock</span>
    </button>
    <button mat-button routerLink="/mis-compras">
      <span>Mis Compras</span>
    </button>



    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="example-icon">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil</span>
      </button>
      <button mat-menu-item routerLink="/home">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>get_app</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
