<mat-card>
  <mat-card-content>
    <mat-table [dataSource]="articulos" class="mat-elevation-z3">
      <!-- Position Column -->
      <ng-container matColumnDef="nombre">
        <mat-header-cell fxFlex="25%" *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell fxFlex="25%" *matCellDef="let element"> {{element.nombre}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="precio">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef> Precio </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let element"> {{element.precio | currency}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="cantidad">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let element"> {{element.cantidad}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell fxFlex="10%" *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell fxFlex="10%" *matCellDef="let element">
          <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-icon-button color="primary" (click)="editar(element)">
              <mat-icon>edit</mat-icon>

            </button>
            <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button>

          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <button mat-fab color="accent" style="float:right;margin-right: 25px" (click)="openDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card-content>
</mat-card>

