<mat-card class="example-card">
  <img mat-card-image [src]="articulo.url" class="img-articulo">
  <mat-card-content>
    <div class="p-16">
      <div class="titulo">{{articulo.nombre}}</div>
      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="s-16 amber-fg">star</mat-icon>
        <mat-icon class="s-16 amber-fg">star</mat-icon>
        <mat-icon class="s-16 amber-fg">star</mat-icon>
        <mat-icon class="s-16 amber-fg">star</mat-icon>
        <mat-icon class="s-16 amber-fg">star_half</mat-icon>
        <div class="ml-8 secondary-text">4.5</div>
        <div class="ml-8 secondary-text">(51)</div>
      </div>

      <div class="p-16">
        {{articulo.descripcion}}
      </div>
      <mat-divider></mat-divider>
      <div class="p-16 pt-4">
        <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
          <div>Precio: </div>
          <div>{{articulo.precio | currency}}</div>
        </div>
      </div>
      <div class="p-16 pt-4">
        <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
          <div>Cantidad: </div>
          <div>{{articulo.cantidad}}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div class="mb-12" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button color="primary">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button color="warn" style="width:65px">
        {{articulo.descuento}}% dscto.
      </button>
    </div>
  </mat-card-actions>
</mat-card>
